:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 50px;
  border: none;
  outline: none;
  width: 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;
}

header {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  gap: 20px;
  text-align: center;
  background-image: url(/public/images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  background-color: white;
  width: 75%;
  min-height: 100px;
  box-shadow: 0 12px 20px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 150px;
  margin: 0 auto;
  z-index: 5;
  left: 12.5%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.info-container div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-title {
  font-size: 10px;
  letter-spacing: 1px;
  color: grey;
}

.info-data {
  margin-top: 8px;
  font-weight: bold;
}

.react-ip-input__item {
  display: flex;
  align-items: center;
}

.react-ip-input input {
  width: 60px;
  min-width: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.react-ip-input .react-ip-input__item {
  display: flex;
  align-items: center;
}

.ip-input {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .info-container {
    background-color: white;
    width: 75%;
    min-height: 100px;
    box-shadow: 0 12px 20px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 150px;
    margin: 0 auto;
    z-index: 5;
    left: 12.5%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }

  .info-container div {
    align-items: center;
    text-align: center;
  }

  .info-data {
    margin-top: 2px;
    font-weight: bold;
  }

}